# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

